<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head%}{% endblock %}

</head>
<body>
<header>
    <div class="container">
        <div id="logo">
            <a href="/" title="Перейти на главную"><span>InnoClubs</span></a>
        </div>
        {% if username %}
            <div id="logout">
                <a href='auth/logout'>Log out</a>|{{username}}
            </div>
        {% endif %}
    </div>
</header>
<br>
<div class="wrapper">
    {% block content %}{% endblock %}
</div>
<footer>
    <div class="container">
        <div id="rights">
            Все права защищены &copy;
        </div>

        <div id="info">
            <h5>Contacts:</h5>
            <p>8800-555-35-35</p>
            <p>FAQ@innopolis.university</p>
        </div>
    </div>
</footer>
</body>
</html>
