<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}

</head>
<body>
<header>
    <div class="container">
        <div id="leftHeader">
            <a href="/" title="Go to the main page"><span>InnoClubs</span></a>
        </div>
        <div id="rightHeader">
            <div class="dropdownMenu">
                <button class="dropdownButton">≡</button>
                <div class="dropdownMenuContents">
                    {% if user.username %}
                        <a href='/attendance/profile'>Logged in as {{user.username}}</a>
                    {% endif %}
                    {% if user.username %}
                        <a href='auth/logout'>Log out</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<div class="wrapper">
    {% block content %}{% endblock %}
</div>
<footer>
    <div class="container">
        <div id="rights">
            Все права защищены &copy;
        </div>

        <div id="info">
            <h5>Contacts:</h5>
            <p>8800-555-35-35</p>
            <p>FAQ@innopolis.university</p>
        </div>
    </div>
</footer>
</body>
</html>
