<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head%}{% endblock %}

</head>
<body>
<header>
    <div id="logo">
        <a href="/" tittle="Перейти на главную"><span>InnoClubs</span></a>
    </div>
    {% if username %}
    <div id="logout">
        <a href=''>Log out</a>|{{username}}
    </div>
    {% endif %}
</header>
<br>
<br>
<div class="wrapper">
    {% block content %}{% endblock %}
</div>
<br>

<footer>
    <div id="rights">
        Все права защищены &copy;
    </div>

    <div id="info">
        <h5>Contacts:</h5>
        <p>8800-555-35-35|FAQ@innopolis.university</p>
    </div>
</footer>
</body>
</html>
