a.clubEvent {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    color: black;
}

.clubEventCenter {
    display: grid;
    grid-template-columns: 1fr;
}

.clubEventName {
    font-size: 20px;
    margin-bottom: 18px;
}

.overflowText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clubEventTimeDate {
    margin: 0px 5px;
}

.clubEventPlace {
    margin: 0px 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.clubEventParticipants {
    margin: 0px 5px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.description {
    color: #6a737d;
    font-size: 14px;
    min-width: 80px;
}

#clubTypeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}

#clubEventGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
}