a.clubType {
    padding: 40px 30px;
    font-size: 30px;
    color: white;
    background-size: cover;
    background-position: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightgray;
}


#clubTypeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}