{% extends 'base.html' %}
{% load static %}


{% block title%}Log in{% endblock %}

{% block head%}<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">{% endblock %}

{% block content %}
    <div class="container">
        <div id="centerOfContainer">
        <img src="{% static 'img/img_avatar2.png' %}" alt="Avatar" class="avatar"><br>
        <button class="mailbtn">Log in via university mail</button><br>
        {% if error %}
        <label class="error">{{ error }}</label>
        {% else %}
        <br>
        {% endif %}

    <form method="post">{% csrf_token %}
        <input type="text" placeholder="Enter Username" name="uname" required><br>
        <input type="password" placeholder="Enter Password" name="psw" required><br>
        <button type="submit">Login</button><br>
    </form>
        <a href="signup"><button>New User</button></a><br>
        <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>
{% endblock %}
