{% extends 'base.html' %}
{% load static %}


{% block title %}InnoClubs{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">{% endblock %}

{% block content %}
    <h3>Password reset</h3>

    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <br>
    <form method="post">

        {% csrf_token %}
        {{ form }}
        <input type="Submit" name="Send email">

    </form>
{% endblock %}