{% extends 'base.html' %}
{% load static %}


{% block title %}Add news{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">{% endblock %}

{% block content %}
    <h1>New news creation</h1>
    <hr>
    <h3>{{success}}</h3>
    <form method="POST">{% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
         </div>
        {% endfor %}
        <button type="submit">Confirm</button>
    </form>

{% endblock %}