{% extends 'base.html' %}
{% load static %}


{% block title %}{{ club.club_title }} control panel{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/administrationOfClub.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubEventsComponent.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubNewsComponent.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ club.club_title }} control panel</h1>

    <form class="section" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <!-- I won't touch this :/ -->
        {% for error in form.non_field_errors %}
        <div>
            {{ error|escape }}
        </div>
        {% endfor %}
        {% for field in form %}
        <div class="fieldWrapper">
            {% if field.errors %}
            <div class="fieldErrors">
                {{ field.errors }}
            </div>
            {% endif %}
            <div class="fieldLabelTag">
                {{ field.label_tag }}
            </div>
            <div class="field"> 
                {{ field }}
            </div>
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button class="action">Confirm</button>
    </form>

    <div class="section">
        <h2>Events</h2>
        <div class="actionGroup">
            <a class="action" href="{% url 'add_event' club.club_url %}">Add event</a>
            <a class="action" href="{% url 'add_one_time_event' club.club_url %}">Add One time event</a>
        </div>
        
        {% include "./clubEventsComponent.html" with all_events=club.event_set.all one_time_events=club.onetimeevent_set.all showDelete=True deleteClass="action"%}

    </div>

    <div class="section">
        <h2>News</h2>
        <div class="actionGroup">
            <a class="action" href="{% url 'addNews' club.club_url %}">Add News</a>
        </div>

        {% include "./clubNewsComponent.html" with news=club.news_set.all showDelete=True deleteClass="action"%}
    </div>

    <div class="section">
        <h2>Members</h2>
        <!-- put input.txt search here -->
        <ol>
            {% for admin in club.clubadmin_set.all %}
            <div>{{ admin.student.user.first_name }} {{admin.student.user.last_name}} ({{admin.student.user.email}})
                {{admin.rights}}
                {% if admin.rights == "Admin" %}   <!--Вы не поверите сколько времени я думал как бы это правильно вывести-->
                    <a class="actionSmall blocked">Set as administrator</a><!--it should stay without any link-->
                    {% if admin.student.user == user %} 
                        <a class="actionSmall blocked">Downgrade</a>
                    {% else %}
                        <a class="actionSmall" href="{% url 'downgrade' club.club_url admin.id%}">Downgrade</a>
                    {% endif %}
                {% elif admin.rights == "Assistant" %}
                    <a class="actionSmall" href="{% url 'set_admin' club.club_url admin.id%}">Set as administrator</a>
                    <a class="actionSmall" href="{% url 'downgrade' club.club_url admin.id%}">Downgrade</a>
                {% endif %}
            {% endfor %}

            {% for person in students %}
            {% if person not in admins_list %}
                <div>{{ person.user.first_name }} {{person.user.last_name}}({{person.user.email}}) Club Member
                <a class="actionSmall" href="{% url 'set_assistant' club.club_url person.id%}">Set as assistant</a>
                <a class="actionSmall" href="{% url 'kick' club.club_url person.id%}">Kick</a>
            {% endif %}
            {% endfor %}
        </ol>
    </div>

{% endblock %}
