{% load static %}
<div id="clubEventGrid">
    <h3>Regular events</h3>
    {% for event in club.event_set.all%}
        <a class="clubEvent" href="{{club.club_url}}">
                    {% if event.img %}
                    <img class="clubEventPicture" src="{{event.img.url}}" width="64px" height="64px" alt="img">
                    {% else %}
                    <img class="clubEventPicture" src="{% static 'img/default.jpg' %}" width="64px" height="64px" alt="img">
                    {% endif %}
                    <div class="clubEventCenter">
                        <span class="clubEventName overflowText">{{event.title}}</span>
                        <span class="clubEventDescr description overflowText">{{event.text}}</span>
                    </div>
                    <div class="clubEventTimeDate description">{{event.week_day}}
                        {{event.start_time}}-{{event.end_time}}</div>
                    <div class="clubEventPlace description">{{event.place}}</div>
                    <div class="clubEventParticipants description">{{event.participants.count}}</div>
        </a>
    {% endfor %}
    <h3>One-time events</h3>
    {% for event in club.onetimeevent_set.all%}
        <a class="clubEvent" href="{{club.club_url}}">
                    {% if event.img %}
                    <img class="clubEventPicture" src="{{event.img.url}}" width="64px" height="64px" alt="img">
                    {% else %}
                    <img class="clubEventPicture" src="{% static 'img/default.jpg' %}" width="64px" height="64px" alt="img">
                    {% endif %}
                    <div class="clubEventCenter">
                        <span class="clubEventName overflowText">{{event.title}}</span>
                        <span class="clubEventDescr description overflowText">{{event.text}}</span>
                    </div>
                    <div class="clubEventTimeDate description">{{event.start_time}}
                        {{event.date}}</div>
                    <div class="clubEventPlace description">{{event.place}}</div>
                    <div class="clubEventParticipants description">{{event.participants.count}}</div>
        </a>
    {% endfor %}
</div>