{% extends 'base.html' %}
{% load static %}


{% block title %}Club's administration{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">{% endblock %}

{% block content %}
    <h1>Club types</h1>
    {% block clubTypes %}
        <div id="clubTypeGrid">
                {% if clubTypeList %}
                        {% for clubType in clubTypeList%}
                            <a href="{% url 'clubTypes' clubType.type_url %}" class="clubType" alt="img" style="background-image: url({{ clubType.type_image }});">{{ clubType.type_name }}</a>
                        {% endfor %}
                {% endif %}
        </div>
    {% endblock %}
    <h1>Upcoming activities</h1>
    {% block clubEvents %}
        <div id="clubEventGrid">
            {% for club in user.student.subscriptions.all %}
                {% for event in club.event_set.all%}
                    <a class="clubEvent" href="{{club.club_url}}">
                                {% if event.img %}
                                <img class="clubEventPicture" src="{{event.img.url}}" width="64px" height="64px" alt="img">
                                {% else %}
                                <img class="clubEventPicture" src="{% static 'img/default.jpg' %}" width="64px" height="64px" alt="img">
                                {% endif %}
                                <div class="clubEventCenter">
                                    <span class="clubEventName overflowText">{{event.title}}</span>
                                    <span class="clubEventDescr description overflowText">{{event.text}}</span>
                                </div>
                                <div class="clubEventTimeDate description">{{event.week_day}}
                                    {{event.start_time}}-{{event.end_time}}</div>
                                <div class="clubEventPlace description">{{event.place}}</div>
                                <div class="clubEventParticipants description">{{event.participants.count}}</div>
                    </a>
                {% endfor %}

                {% for event in club.onetimeevent_set.all%}
                    <a class="clubEvent" href="{{club.club_url}}">
                                {% if event.img %}
                                <img class="clubEventPicture" src="{{event.img.url}}" width="64px" height="64px" alt="img">
                                {% else %}
                                <img class="clubEventPicture" src="{% static 'img/default.jpg' %}" width="64px" height="64px" alt="img">
                                {% endif %}
                                <div class="clubEventCenter">
                                    <span class="clubEventName overflowText">{{event.title}}</span>
                                    <span class="clubEventDescr description overflowText">{{event.text}}</span>
                                </div>
                                <div class="clubEventTimeDate description">{{event.start_time}}
                                    {{event.date}}</div>
                                <div class="clubEventPlace description">{{event.place}}</div>
                                <div class="clubEventParticipants description">{{event.participants.count}}</div>
                    </a>
                {% endfor %}
                <ul>
                    {% for article in club.news_set.all%}
                        <li>{{article.title}} {{article.publication_date}}
                            {{article.info}}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}

        </div>
    {% endblock %}
{% endblock %}