{% extends 'base.html' %}
{% load static %}


{% block title %}InnoClubs{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubEventsComponent.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubNewsComponent.css' %}">
{% endblock %}

{% block content %}
    <h1>Club types</h1>
    {% block clubTypes %}
        <div id="clubTypeGrid">
                {% if clubTypeList %}
                        {% for clubType in clubTypeList%}
                            <a href="{% url 'clubTypes' clubType.type_url %}" class="clubType" alt="img" style="background-image: url({{ clubType.type_image }});">{{ clubType.type_name }}</a>
                        {% endfor %}
                {% endif %}
        </div>
    {% endblock %}
    <h1>Feed</h1>
    <div id="feedAll">
    {% for club in user.student.subscriptions.all %}
        <h2>{{ club.club_title }}</h2>
        <div class="feedClub">
            {% block clubEvents %}
                {% include "./clubEventsComponent.html"  with all_events=club.event_set.all one_time_events=club.onetimeevent_set.all%}
            {% endblock %}

            {% block clubNews %}
                <h3>News</h3>
                <div class="clubNews">
                    {% include "./clubNewsComponent.html" with news=club.news_set.all %}
                </div>
            {% endblock %}
        </div>
    {% endfor %}
    </div>
{% endblock %}