{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ club.club_title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pageOfClub.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubEventsComponent.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubNewsComponent.css' %}">
{% endblock %}

{% block content %}
    <img src="{{ club.club_logo.url }}" alt="Avatar" class="avatar" >

    <div id="clubGrid">
        <h1>{{ club.club_title }}</h1>

        {% if club in user.student.subscriptions.all %}
            <a href="{% url 'unsubscribe' club.club_url %}" class="action">UNSUBSCRIBE</a>
        {% else %}
            <a href="{% url 'subscribe' club.club_url %}" class="action">SUBSCRIBE</a>
        {% endif %}

        {% if rights %}
            <a href="#" class="action">ATTENDANCE</a>
        {% endif %}

        {% if rights == "Admin" %}
            <a href="{% url 'administration' club.club_url %}" class="action">CONTROL PANEL</a>   
        {% endif %}
    </div>

    <div id="contacts">
        {% if club.club_chat %}
            <span class="contact">
                Chat: <a href="https://t.me/{{chat}}">{{club.club_chat}}</a>
            </span>
        {% endif %}
    </div>

    <div id="clubDescription">
        {{ club.club_info }}
    </div>

    {% block clubEvents %}
        <div id="clubEvents">
            <h2>Upcoming activities</h2>
            {% include "./clubEventsComponent.html" with all_events=club.event_set.all one_time_events=club.onetimeevent_set.all%}
        </div>
    {% endblock %}
    {% block clubNews %}
        <div id="clubNews">
            <h2>News</h2>
            {% include "./clubNewsComponent.html" with news=club.news_set.all %}
        </div>
    {% endblock %}
{% endblock %}
