{% extends 'base.html' %}
{% load static %}
{% block title %}{{ infoFromDb.club_title }}{% endblock %}

    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubPage.css' %}">
    {% endblock %}
    {% block content %}
        <img src="{{ infoFromDb.club_logo }}" alt="Avatar" class="avatar" width="60%" height="170"><br><br>
        <ul class="menu">
            <li><a href="#">Join Club</a></li>
            <li><a href="#">Check attendance</a></li>
            <li><a href="#">Club's Chat</a></li>
            <li><a href="#">Club's Administration</a></li>
            {% if infoFromDb in user.student.subscriptions.all %}
                <li><a href="{% url 'unsubscribe' infoFromDb.club_url %}">Unsubscribe</a></li>
            {% else %}
                <li><a href="{% url 'subscribe' infoFromDb.club_url %}">Subscribe</a></li>
            {% endif %}
        </ul>
        <h1>{{ infoFromDb.club_title }}</h1>
        {{ infoFromDb.club_info }} <br>
        Our chat in telegram: {{ infoFromDb.club_chat }}
    {% endblock %}
