{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ infoFromDb.club_title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pageOfClub.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubEventsComponent.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubNewsComponent.css' %}">
{% endblock %}

{% block content %}
    <img src="{{ infoFromDb.club_logo }}" alt="Avatar" class="avatar" >

    <div id="clubGrid">
        <h1>{{ infoFromDb.club_title }}</h1>

        {% if true %}
            <a href="#" class="action">JOIN</a>
        {% else %}
            <a href="#" class="action">LEAVE</a>
        {% endif %}

        <a href="#" class="action">ATTENDANCE</a>

        {% if not false %}
            <a href="#" class="action">CONTROL PANEL</a>   
        {% endif %}
    </div>

    <div id="contacts">
        <span class="contact">Url: {{ infoFromDb.club_url }}</span>
        <span class="contact">Chat: {{ infoFromDb.club_chat }}</span>
        <span class="contact">Leader: {{ leader_from_somewhere }}</span>
    </div>

    <div id="clubDescription">
        {{ infoFromDb.club_info }}
    </div>

    {% block clubEvents %}
        <div id="clubEvents">
            <h2>Upcoming activities</h2>
            {% include "./clubEventsComponent.html" %}
        </div>
    {% endblock %}
    {% block clubNews %}
        <div id="clubNews">
            <h2>News</h2>
            {% include "./clubNewsComponent.html" %}
        </div>
    {% endblock %}
{% endblock %}