{% extends 'base.html' %}
{% load static %}

{% block title %}Attendance{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">{% endblock %}

{% block content %}
    <h1>Next events are acceptable to check attendance</h1>
    <h3>You cannot check attendance more than 30 min before event</h3>
<br>
<br>
    <h1>{{code}}</h1>
<br>
<br>
<h3>Please say your code to club assistant ar club owner for taking attendance</h3>
<br>
<h3>Please be organized and wait your queue</h3>
{% endblock %}