{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clubEventsComponent.css' %}">
{% endblock %}

{% block content %}
    <h1>Next events are acceptable to check attendance</h1>
    <h3>You cannot check attendance more than 30 min before event</h3>
    {{date}}

    {% include "../clubs/clubEventsComponent.html"  with all_events=events one_time_events=ot_events showAttendance=True %}
    
{% endblock %}